{% load static %}

<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="NU-Sports">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block loadcss %}

    {% endblock %}

    {% block title %}

    {% endblock %}
</head>

<body>
    <div id="titleBar" class="basic">
        <a href="homepage"><img id='logo' src="{% static 'media/logo.png' %}" alt="NU-Sport Logo"></a>
    </div>

    <div class="header_links_container" id="header_links_container">
        <nav id="navBar">
            <ul>
                <a id="home" href="homepage">Home</a>
                <a id="about" href="homepage#about">About</a>
                <a id="event" href="event_detail">Events</a>
                <a id="our_team" href="#">Our Team</a>
                <a id="sponsor" href="homepage#sponsers">Sponsors</a>
                <a id="contact" href="#">Contact</a>
            </ul>
        </nav>

        <div class="login_container">
            <a href="register"><button type="submit" id="login_btn" class="submit_btn">Register</button></a>
            <a href="login"><button type="submit" id="login_btn" class="submit_btn">Sign In</button></a>
        </div>
    </div>

    {% block content %}

    {% endblock %}

    <div id="footer">

    </div>
</body>

</html>