{% extends  'FestOfficialWebSite/base.html' %}

{% load static %}

{% block loadcss %}
    <link rel="stylesheet" href="{% static 'css/registration.css' %}" type="text/css">  
{% endblock %}

{% block title %}
    <title>Registration | NUTECH-2020</title>
{% endblock %}

{% block content %}

{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
    <!-- <form method="POST" style="background-color: blue;">
        {% csrf_token %}
        {{  regform.as_p }}
        <button type="submit">Submit</button>
    </form> -->
    <form method="POST" style="background-color: blue;">
        {% csrf_token %}
        <p><label for="fname">Fname:</label> <input type="text" name="fname" maxlength="50" required id="fname"></p>
        <p><label for="lname">Lname:</label> <input type="text" name="lname" maxlength="50" required id="lname"></p>
        <p>
            <label for="clg_id">Clg id:</label> 
            <select name="clg_id" id="clg_id">
                <option value="2">Nirma University</option>
                <option value="3">Daiict</option>
            </select>
        </p>
        
        <p><label for="stream">Stream:</label> <select name="stream" id="stream"></select></p>
        <p><label for="email">Email:</label> <input type="email" name="email" maxlength="254" autofocus required id="email"></p>
        <p><label for="contect_no">Contect no:</label> <input type="number" name="contect_no" required id="contect_no"></p>
        <p><label for="password1">Password:</label> <input type="password" name="password1" required id="password1"> <span class="helptext"><ul><li>Your password must contain at least 8 characters.</li></ul></span></p>
        <p><label for="password2">Password confirmation:</label> <input type="password" name="password2" required id="password2"> <span class="helptext">Enter the same password as before, for verification.</span></p>
        <button type="submit">Submit</button>
    </form>
        
{% endblock %}
    
    {% block loadScript %}
        <!-- <script src="../script/registration.js" type="text/javascript"></script> -->
    {% endblock %}
