{% extends 'EventWebSite/base.html' %}

{% load static %}

{% block title %}

    <title>NU-Tech|Events</title>

{% endblock %}

{% block loadcss %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/event_detail.css' %}">
{% endblock %}

{% block content %}
            <div class="event_title_container">
                <p id="event_detail">Events</p>
            </div>

            <div class="main_detail_container">
                <div class="parent_event_container">
                    <p id="parent_detail">Code-o-crates</p>
                    
                    <div class="child_event_container">
                            <ul class="chid_event_list">
                                    <li>Codejam</li>
                                    <li>Coderun</li>
                                    <li>Codezilla</li>
                                    <li>Treasure Hunt</li>
                                    <li>Jigsaw Puzzle</li>
                                    <li>Enigma</li>
                                </ul>
                    </div>
                </div>
            </div>

            <div class="main_detail_container">
                    <div class="parent_event_container">
                        <p id="parent_detail">Code-o-crates</p>
                        
                        <div class="child_event_container">
                                <ul class="chid_event_list">
                                        <li>Codejam</li>
                                        <li>Coderun</li>
                                        <li>Codezilla</li>
                                        <li>Treasure Hunt</li>
                                        <li>Jigsaw Puzzle</li>
                                        <li>Enigma</li>
                                    </ul>
                        </div>
                    </div>
                </div>

                <div class="main_detail_container">
                        <div class="parent_event_container">
                            <p id="parent_detail">Code-o-crates</p>
                            
                            <div class="child_event_container">
                                    <ul class="chid_event_list">
                                            <li>Codejam</li>
                                            <li>Coderun</li>
                                            <li>Codezilla</li>
                                            <li>Treasure Hunt</li>
                                            <li>Jigsaw Puzzle</li>
                                            <li>Enigma</li>
                                        </ul>
                            </div>
                        </div>
                    </div>
{% endblock %}
