{% extends 'EventWebSite/base.html' %}

{% load static %}

{% block title %}

    <title>NU-Tech|Events</title>

{% endblock %}

{% block loadcss %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/event_detail.css' %}">
{% endblock %}

{% block content %}
            <div class="event_title_container">
                <p id="event_detail">Events</p>
            </div>
            
            {% for event in events %}
            <div class="eventbox">
                <img src="media/{{ event.event_logo }}" height="300px" width="300px">
                <p>{{event.event_name}}</p>
                <p>{{event.event_status}}</p>
                <p>{{event.event_detail}}</p>
            </div>
            <div class="eventDetailWrapper">
                <button>X</button>
                <img src="media/{{ event.event_logo }}" height="300px" width="300px">
                <p>{{event.event_name}}</p>
                <p>{{event.event_status}}</p>
                <p>{{event.event_detail}}</p>
                <p>{{event.rules}}</p>
                <p>{{event.fees}}</p>
            </div>
            {% endfor %}
{% endblock %}

{% block loadScript %}
<script src="{% static 'script/event_detail.html' %}"></script>
{% endblock %}