{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign In | NUTECH-2020</title>
    <link rel="shortcut icon" href="{% static 'media/favicon.ico' type='image/x-icon' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css">
</head>
<body>
        <div id="reg_form_box" class="box">
                <!--<img src="../media/avatar.png" id="logo">-->
                <p id="signin" class="box_title">Sign In</p>
        
                <form method="POST">
                    {% csrf_token %}
                    <div id="username" class="inputbox">
                        <input name="usernamefield" type="text" required="required">
                        <label>User Name</label>
                    </div>
        
                    <div id="password" class="inputbox">
                        <input name="passwordfield" type="password" required="required">
                        <label>Password</label>
                    </div>

                    <div>
                        <div id="submit_btn_container">
                            <input type="submit" value="SIGN IN" id="submit_btn" >
                        </div>

                        <div id="forgot_password_container">
                            <a href="" id="forgot_password">Forgot Password?</a>
                        </div>
                    </div>
                </form>

                <div class="first_time_login_container" id="first_time_login_container">
                    <p id="first_time_login" class="first_time_login">If you are signing in first time, then <a href="" id="first_time_login_link" class="first_time_login">click here</a></p>
                </div>
         </div>

         <div class="reg_btn_container" id="reg_btn_container">
            <a href="register" id="reg_btn" class="reg_btn">REGISTER</a>
         </div>
</body>
</html>