{% extends 'EventWebSite/base.html' %}

{% load static %}
{% load custom_tags %}

{% block title %}
    <title>Dashboard</title>
{% endblock %}

{% block loadcss %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/EventWebSite/participant_dashboard.css' %}">
    <style>
        body{
            background-image: url("{% static 'media/bck_p_dash.jfif' %}");
        }
    </style>
{% endblock %}

{% block content %}

    <div class="Payment_div">
        {% if userinfo.remark %}
        <p>Remark: {{userinfo.remark}}</p>
        {% endif %} 
        <p>Payment Status:{% if userinfo.is_paid %} Paid {% else %} Not Paid {% endif %}</p>
        <p>Total Amount : {{ userinfo.total_payment }}</p>
        <p>Paid : {{ userinfo.paid_payment }}</p>
        {% if not userinfo.is_paid %}
        <a href="do_payment">Click here to pay</a>
        {% endif %}
    </div>

    <div class="event_status_table_title">Event Status</div>

    <div class="middle">
        <div class="menu">
                {% for event in events %}
                {% if event.reg_status == 'Not Paid' %}
                <li class="item" id="id_{{event.event_id__event_name}}">
                    <a href="#id_{{event.event_id__event_name}}" class="btn">{{event.event_id__event_name}}</a>
                    <div class="smenu">
                        <p>Payment Status: Not Paid</p>
                        <p>Pay Fees for confirm registration in event.</p>
                    </div>
                </li>
                {% elif event.reg_status == 'Paid' %}
                <li class="item" id="id_{{event.event_id__event_name}}">
                    <a href="#id_{{event.event_id__event_name}}" class="btn">{{event.event_id__event_name}}</a>
                    <div class="smenu">
                        <p>Payment Status : Paid</p>
                        {% if event.event_id__date_time %}
                        <p>Event Date & Time : {{event.event_id__date_time}}</p>
                        {% endif %}
                        {% if event.event_id__venue %}
                        <p>Venue : {{event.event_id__venue}}</p>
                        {% endif %}
                    </div>
                </li>
                {% elif event.reg_status == 'Confirm' %}
                <li class="item" id="id_{{event.event_id__event_name}}">
                    <a href="#id_{{event.event_id__event_name}}" class="btn">{{event.event_id__event_name}}</a>
                    <div class="smenu">
                        <p>You Registration for event is Confirmed.</p>
                        {% if event.event_id__date_time %}
                        <p>Event Date & Time : {{event.event_id__date_time}}</p>
                        {% endif %}
                        {% if event.event_id__venue %}
                        <p>Venue : {{event.event_id__venue}}</p>
                        {% endif %}
                        {% if event.attendance_otp %}
                        <p>OTP for Attendance : {{event.attendance_otp}}</p>
                        {% endif %}
                    </div>
                </li>
                {% elif event.reg_status == 'Attended' %}
                <li class="item" id="id_{{event.event_id__event_name}}">
                    <a href="#id_{{event.event_id__event_name}}" class="btn">{{event.event_id__event_name}}</a>
                    <div class="smenu">
                        <p>You have Successfully attended the event {{event.event_id__event_name}}.</p>
                        <p>OTP for Certificate : {{event.certi_otp }}</p>
                    </div>
                </li>
                {% elif event.reg_status == 'Attended Winner' %}
                <li class="item" id="id_{{event.event_id__event_name}}">
                    <a href="#id_{{event.event_id__event_name}}" class="btn">{{event.event_id__event_name}}</a>
                    <div class="smenu">
                        {% with win=winner|get_item:event.event_id %}
                        <p>Congratulations, You are winner of the event {{event.event_id__event_name}}.</p>
                        <p>Winning Position : {{ win.position }}</p>
                        <p>OTP for Winner Certificate : {{win.winning_certi_otp}}</p>
                        {% endwith %}
                    </div>
                </li>
                {% elif event.reg_status == 'Certificate Issued' %}
                <li class="item" id="id_{{event.event_id__event_name}}">
                    <a href="#id_{{event.event_id__event_name}}" class="btn">{{event.event_id__event_name}}</a>
                    <div class="smenu">
                        <p>Congratulations, Your Certificate for the event {{event.event_id__event_name}} is Issued.</p>
                    </div>
                </li>
                {% elif event.reg_status == 'Winner Certificate Issued' %}
                <li class="item" id="id_{{event.event_id__event_name}}">
                    <a href="#id_{{event.event_id__event_name}}" class="btn">{{event.event_id__event_name}}</a>
                    <div class="smenu">
                        {% with win=winner|get_item:event.event_id %}
                        <p>Congratulations, You are winner of the event {{event.event_id__event_name}}.</p>
                        <p>Winning Position : {{ win.position }}</p>
                        <p>You winning Certificate is Issued Successfully.</p>
                        {% endwith %}
                    </div>
                </li>
                {% elif event.reg_status == 'Scrapped' %}
                <li class="item" id="id_{{event.event_id__event_name}}">
                    <a href="#id_{{event.event_id__event_name}}" class="btn">{{event.event_id__event_name}}</a>
                    <div class="smenu">
                        <p>This event is Scrapped due to less participantion. </p>
                    </div>
                </li>
                {% elif event.reg_status == 'Delete' %}
                <li class="item" id="id_{{event.event_id__event_name}}">
                    <a href="#id_{{event.event_id__event_name}}" class="btn">{{event.event_id__event_name}}</a>
                    <div class="smenu">
                        <p>This Event is Deleted</p>
                    </div>
                </li>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
