<!-- {% extends  'EventWebSite/base.html' %} -->

{% load static %}

{% block loadcss %}
    <link rel="stylesheet" href="{% static 'css/registration.css' %}" type="text/css">  
{% endblock %}

{% block title %}
    <title>Registration | NUTECH-2020</title>
{% endblock %}

{% block content %}

{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
    <form method="POST" style="background-color: blue;">
        {% csrf_token %}

        {% for field in regform %}
        <div id="{{ field.label }}Wrapper">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.help_text %}
                <p>{{ field.help_text|safe }}</p>
            {% endif %}
            {{ field.errors }}
        </div>
        {% endfor %}

        {% for event in events %}
        <div class="eventWrapper">
            <input type="checkbox" id="{{ event.event_name }}_checkbox" name="select_event" value="{{event.event_name}}" onchange="changeToAmount('{{event.event_name}}', '{{event.fees}}')">
            <label for="{{ event.event_name }}">{{ event.event_name }}</label>
            <p>Fees : <span id="fees_{{event.event_name}}">{{event.fees}}</span></p>
        </div>
        {% endfor %}

        <button type="submit">Submit</button>
    </form>
    <div>
        <label for="total_fees">Total Fees</label>
        <p id="total_fees">0</p>
    </div>
        
{% endblock %}
    
{% block loadScript %}
    <script src="{% static 'script/registration.js' %}" type="text/javascript"></script>]
{% endblock %}
