#event_detail_table td {
    border-bottom-style: solid;
    border-color: black;
    padding-left: 50px;
    padding-right: 50px;
}

.event_detail_btn {
  text-decoration: none;
  background-color: #329fec;
  padding: 5px 20px 5px 20px;
  color: white;
  border-radius: 10px;
}