body{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

.basic{
    background: #fff;    
    padding: 5px;
}

/*===== title Bar=====*/
#titleBar{
    padding: 20px 100px;
    height: 50px;
    top: 0px;
    
}
.header_links_container {
    position: sticky;
    -webkit-sticky: 80px;
    height: 80px;
    top: 0px;
    background-color: white;
}
#logo{
    height: 100%;
}

#navBar{
    float: left;
    padding: 0 50px;
    height: 80px;
}

#navBar a{
    font-size: 17px;
    text-decoration: none;
    padding: 15px 10px;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    color: #696969;
}

#navbar a:hover {
    background-image: linear-gradient(to right, #4867e0, #329fec);
    color: white;
    overflow: hidden;
}

.login_container {
    text-align: center;
    vertical-align: middle;
    float: right;
    margin-right: 100px;
}

#profile_btn {
    width: 150px;
    height: 50px;
    font-size: 120%;
    border-radius: 0;
    background-image: linear-gradient(to right, #4867e0 60%, #329fec);
    border: none;
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  