body {
    background-image: url(../media/bck_p_dash.jfif);
}

#profile_main{
    margin: 30px 30px 200px 30px;
}

.detail_container p {
    color: white;
    display: inline;
}

.detail_container {
    margin-top: 3%;
    margin-left: 10%;
    /* background-color: turquoise; */
    width: 75%;
    padding-left: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-style: none solid none solid;
    border-color: white;
}


