{% extends 'Coordinator/coordinator_base.html' %}

{% load static %}
{% block title %}
    <title>Profile</title>
{% endblock %}

{% block loadcss %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
    <style>
        body{
            background-image: url("{% static 'media/bck_p_dash.jfif' %}");
        }
    </style>
{% endblock %}

{% block content %}
<div id="profile_main">
    <div class="event_status_table_title">Profile</div>

    <div class="detail_container">
        <p id="reg_no" class="attribute">Registration No : </p>
        <p id="reg_no_value" class="value">{{userinfo.reg_no}}</p>
    </div>

    <div class="detail_container">
        <p id="name" class="attribute">Name : </p>
        <p id="name_value" class="value">{{userinfo.fname}} {{userinfo.lname}}</p>
    </div>

    <div class="detail_container">
        <p id="contect_no" class="attribute">Contect No : </p>
        <p id="contect_no_value" class="value">{{userinfo.contect_no}}</p>
    </div>

    <div class="detail_container">
        <p id="email" class="attribute">Email Id : </p>
        <p id="email_value" class="value">{{userinfo.email}}</p>
    </div>

    <div class="detail_container">
        <p id="clg" class="attribute">College Name : </p>
        <p id="clg_value" class="value">{{userinfo.clg_id__clg_name}}</p>
    </div>

    <div class="detail_container">
        <p id="stream" class="attribute">Stream : </p>
        <p id="stream_value" class="value">{{userinfo.stream__stream_name}}</p>
    </div>
</div>

<script>

</script>
{% endblock %}
