{% extends 'Administrator/base.html' %}

{% load static %}

{% block title %}
    <title>Admin</title>
{% endblock %}

{% block loadcss %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Admin_dashboard.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/manage.css' %}">
{% endblock %}

{% block content %}


<div class="main" style="padding-left: 40px;">
    
    <div class="partcipant_detail_container" id="partcipant_detail_container" style="padding-left: 130px; padding-right: 160px;">
    </div>
    
    <div class="volunteer_detail_container" id="volunteer_detail_container" style="padding-left: 130px; padding-right: 160px;">
        
    </div>
    
    <div class="eventhead_detail_container" id="eventhead_detail_container" style="padding-left: 130px; padding-right: 160px;">
        
    </div>
    
    <div class="co-ordinator_detail_container" id="co-ordinator_detail_container" style="padding-left: 130px; padding-right: 160px;">
        
    </div>
    
    <div class="college_detail_container" id="college_detail_container" style="padding-left: 130px; padding-right: 160px;">
        
    </div>
</div>
    {% endblock %}