{% extends 'Administrator/administrator_base.html' %}

{% load static %}

{% block title %}
    <title>Admin</title>
{% endblock %}

{% block loadcss %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Administrator/administrator_dashboard.css' %}">
{% endblock %}

{% block content %}


<div class="main">
    
    <div>Admin DashBoard</div>
    
    <!-- <div class="partcipant_detail_container" id="partcipant_detail_container">
        <p id="participant">Particiapnt</p>
        <p id="no_partcipant"></p>
        <button class="manage_btn">Manage</button>
    </div>

    <div class="volunteer_detail_container" id="volunteer_detail_container" style="padding-left: 130px; padding-right: 160px;">
        
    </div>
    
    <div class="eventhead_detail_container" id="eventhead_detail_container" style="padding-left: 130px; padding-right: 160px;">
        
    </div>
    
    <div class="co-ordinator_detail_container" id="co-ordinator_detail_container" style="padding-left: 130px; padding-right: 160px;">
        
    </div>
    
    <div class="college_detail_container" id="college_detail_container" style="padding-left: 130px; padding-right: 160px;">
        
    </div> -->
</div>


{% endblock %}