{% load static %}

<nav id="titleBar">
    <div id="logo_container">
        <a href="{% url 'homepage' %}"><img id='logo' src="{% static 'media/logo.png' %}" alt="NU-Sport Logo"></a>
    </div>
    <div class="links">
        {% if user.is_authenticated %}
        <div class="dropdown">
            <button type="submit" id="profile_btn" class="submit_btn">Hi, {{user.fname}}</button>
            <div class="options">
                <a href="{% url 'admin_dashboard' %}">Dashboard</a>
                <a href="{% url 'profile_administrator' %}">Profile</a>
                <a href="{% url 'admin_logout' %}">Log Out</a>  
            </div>
        </div>
        {% endif %}        
    </div>
</nav>