{% extends 'Administrator/base.html'%}

{% load static %}

{% block title %}
    
    <title>Colleges</title>

{% endblock %}

{% block loadcss %}

<link rel="stylesheet" type="text/css" href="{% static 'css/manage.css' %}">

{% endblock%}

{% block content %}

<div class="main">
    
    <div class="main_detail_container" id="main_detail_container" >
        <div class="search_bar">
            
            {% if not addcollage_form %}
            <a href="{% url 'collage_add' %}">Add College</a>
            {% endif %}

            <div class="search_inbox_container">
                <input type="text" placeholder="search" id="search_bar">&nbsp;&nbsp;
            </div>
            
            <div class="search_button_container">
                <button id="search_btn" class="search_btn" type="submit"><img src="{% static 'media/search_logo.png' %}" id="search_logo"></button>&nbsp;&nbsp;
            </div>
            
            <div class="sortby_selection_container">
                <select id="sort_by_menu" class="sort_by_menu">
                    <option value="a-z">A-Z</option>
                    <option value="z-a">Z-A</option>
                </select>
            </div>
        </div>
        
        {% if addcollage_form %}
        <div id="add_collage_bar">
            <form method="POST" action="{% url 'collage_add' %}">
                {% csrf_token %}
                {% for field in addcollage_form %}
                <div id="{{ field.label }}Wrapper">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.help_text %}
                    <p>{{ field.help_text|safe }}</p>
                    {% endif %}
                    {{ field.errors }}
                </div>
                {% endfor %}
                {{ form.non_field_errors }}
                <button type="submit">Add Collage</button>
                <a href="{% url 'collage_manager' %}">Cancal</a>
            </form>
        </div>
        {% endif %}
        <br/>
        <br/>
        <br/>
        
        <div class="manage_table_container" id="manage_table_container">
            <table id="manage_table" class="manage_table">
                
                <tr>
                    <th>Id</th>
                    <th>College Name</th>
                    <th></th>
                </tr>
                
                {% for clg in collages %}
                {% if clg.clg_id != clg_id %}
                <tr>
                    <td>{{ clg.clg_id }}</td>
                    <td>{{ clg.clg_name }}</td>
                    <td>
                        <a id="{{ clg.clg_id }}_editbtn" class="edit_btn" href="{% url 'collage_edit' clg_id=clg.clg_id %}">EDIT</a>
                        <a href="{% url 'collage_delete' clg_id=clg.clg_id %}">DELETE</a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <form method="POST">
                        {% csrf_token %}
                        <td>{{ editcollage_form.clg_id }}</td>
                        <td>{{ editcollage_form.clg_name }}</td>
                        <td>
                            <button type="submit" class="edit_btn">SAVE</button>
                            <a href="{% url 'collage_manager' %}">Cancal</a>
                        </td>
                    </form>
                </tr> 
                {% endif %}
                {% endfor %}
                
            </table>
        </div>
        
    </div>
</div>

{% if deletecollage_id %}
<form method="POST">
    {% csrf_token %}
    <div id="deleteConfDialogbox">
        <p id="conftext">Are you sure you want to delete collage having collage id = {{ deletecollage_id }}</p>
        <button type="submit" id="deletebtn">Delete</button>
        <a id="cancalbtn" href="{% url 'collage_manager' %}">Cancal</a>
    </div>
</form>
    
{% endif %}

{% endblock %}

{% block loadscript %}
<script src="../../mystaticFiles/script/manage.js"></script>
{% endblock %}