{% extends 'Administrator/base.html'%}

{% load static %}

{% block title %}
    
    <title>News</title>

{% endblock %}
    
{% block loadcss %}

<link rel="stylesheet" type="text/css" href="{% static 'css/manage.css' %}">

{% endblock%}

{% block content %}

<div class="main">
    
    <div class="main_detail_container" id="main_detail_container" >
        <div class="search_bar">
            <h1><p id="table_title">News</p></h1>
            {% if not addnews_form %}
            <a id="add_btn" href="{% url 'news_add' %}">Add News</a>
            {% endif %}
            <!-- <div class="search_inbox_container">
                <input type="text" placeholder="search" id="search_bar">&nbsp;&nbsp;
            </div>
            
            <div class="search_button_container">
                <button id="search_btn" class="search_btn" type="submit"><img src="{% static 'media/search_logo.png' %}" id="search_logo"></button>&nbsp;&nbsp;
            </div>
            
            <div class="sortby_selection_container">
                <select id="sort_by_menu" class="sort_by_menu">
                    <option value="a-z">A-Z</option>
                    <option value="z-a">Z-A</option>
                </select>
            </div> -->
        </div>
        {% if addnews_form %}
        <div id="add_news_bar">
            <form method="POST" action="{% url 'news_add' %}">
                {% csrf_token %}
                {% for field in addnews_form %}
                <div id="{{ field.label }}Wrapper">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.help_text %}
                    <p>{{ field.help_text|safe }}</p>
                    {% endif %}
                    {{ field.errors }}
                </div>
                {% endfor %}
                {{ form.non_field_errors }}
                <button type="submit">Add News</button>
                <a href="{% url 'news_manager' %}">Cancal</a>
            </form>
        </div>
        {% endif %}

        <br/>
        <br/>
        <br/>
        
        <div class="manage_table_container" id="manage_table_container">
            <table id="manage_table" class="manage_table">
                
                <tr>
                    <th>Id</th>
                    <th>Receivers</th>
                    <th>News</th>
                    <th>Hyperlink</th>
                    <!-- <th>Status</th> -->
                    <th></th>
                </tr>
                
                {% for n in news %}
                {% if n.news_id != news_id %}
                <tr id="{{ n.news_id }}_Record">
                    <td id="{{ n.news_id }}_id" class="news_id" >{{ n.news_id }}</td>
                    <td id="{{ n.news_id }}_for_whome" class="for_whome">{{ n.for_whome }}</td>
                    <td id="{{ n.news_id }}_news_content" class="news_content">{{ n.news_content }}</td>
                    <td id="{{ n.news_id }}_hyperlink" class="hyperlink">{{ n.hyperlink }}</td>
                    <td>
                        <a id="{{ n.news_id }}_editbtn" class="edit_btn" href="{% url 'news_edit' news_id=n.news_id %}">EDIT</a>&nbsp;&nbsp;
                        <a id="{{ n.news_id }}_deletebtn" class="delete_btn" href="{% url 'news_delete' news_id=n.news_id %}">DELETE</a>
                    </td>
                </tr>
                {% else %}
                <tr id="{{ n.news_id }}_Record">
                    <form method="POST">
                        {% csrf_token %}
                        <td id="{{ n.news_id }}_id" class="news_id" >{{ n.news_id }}</td>
                        <td id="{{ n.news_id }}_for_whome" class="for_whome">{{ editnews_form.for_whome }}</td>
                        <td id="{{ n.news_id }}_news_content" class="news_content">{{ editnews_form.news_content }}</td>
                        <td id="{{ n.news_id }}_hyperlink" class="hyperlink">{{ editnews_form.hyperlink }}</td>
                        <td>
                            <button type="submit" class="edit_btn">SAVE</button>
                            <a href="{% url 'news_manager' %}" class="cancel_btn">CANCEL</a>
                        </td>
                        
                    </form>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
        </div>        
    </div>
</div>

{% if delnews_id %}
<form method="POST">
    {% csrf_token %}
    <div id="deleteConfDialogbox">
        <p id="conftext">Are you sure you want to delete news having news ID = {{ delnews_id }}</p>
        <button type="submit" id="deletebtn" class="dialog_btn">Delete</button>
        <a id="cancalbtn" href="{% url 'news_manager' %}" class="dialog_btn">Cancel</a>
    </div>
</form>
    
{% endif %}

{% endblock %}

{% block loadscript %}

<script src="{% static 'script/manage.js' %}"></script>

{% endblock %}