{% extends 'Administrator/administrator_base.html'%}

{% load static %}
{% load custom_tags %}

{% block title %}

<title>Participant</title>

{% endblock %}

{% block loadcss %}

<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard_manager.css' %}">

{% endblock%}

{% block content %}

<div class="main">    
    <div class="main_detail_container" id="main_detail_container">
    
        <h1><p id="table_title">Participant</p></h1>

        <form class="inline_form" action="{% url 'confirm_all_participation' %}" method="POST">
            {% csrf_token %}
            <div class="inlineFieldWrapper">
                <button class="inline_form_btn" type="submit">
                    Confirm All Paid Participants
                </button>
            </div>
        </form>
        <!-- <div>
            <div class="search_inbox_container">
                <input type="text" placeholder="Search" id="search_bar">&nbsp;&nbsp;
            </div>
            
            <div class="search_button_container">
                <button id="search_btn" class="search_btn" type="submit"><img src="{% static 'media/search_logo.png' %}" id="search_logo"></button>&nbsp;&nbsp;
            </div>
            
            <div class="sortby_selection_container">
                <select id="sort_by_menu" class="sort_by_menu">
                    <option value="a-z">A-Z</option>
                    <option value="z-a">Z-A</option>
                </select>
            </div>
        </div> -->
        

        <table id="manage_table" class="manage_table">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email ID</th>
                <th>Contact No</th>
                <th>Clg Name</th>
                <th>Stream Name</th>
                <th>Remark</th>
                <th>Total Payment</th>
                <th>Remaining Payment</th>
                <th>Paid Payment</th>
                <th>Events Participanted</th>
                <th></th>
            </tr>
            
            {% for participant in participant_list %}
            <tr>
                <td>{{participant.reg_no}}</td>
                <td>{{participant.reg_no__fname}} {{participant.reg_no__lname}}</td>
                <td>{{participant.reg_no__email}}</td>
                <td>{{participant.reg_no__contect_no}}</td>
                <td>{{participant.reg_no__clg_id__clg_name}}</td>
                <td>{{participant.reg_no__stream__stream_name}}</td>
                <td>{{participant.remark}}</td>
                <td>{{participant.total_payment}}</td>
                <td>{{participant.remaining_payment}}</td>
                <td>{{participant.paid_payment}}</td>
                <td>
                    {% for event in event_list|get_item:participant.reg_no %}
                    <span class="event_tag">{{ event.event__event_name }} - {{ event.reg_status}}</span>
                    {% endfor %}
                </td>
                <td>
                    <button class="small_btn">
                        <a href="{% url 'participant_detail' reg_no=participant.reg_no %}">Edit</a>
                    </button>
                </td>
            </tr>
            
            {% endfor %}
        </table>
              
        
    </div>
</div>
    
{% endblock %}