{% extends 'Administrator/base.html'%}

{% load static %}

{% block title %}

<title>Stream</title>

{% endblock %}

{% block loadcss %}

<link rel="stylesheet" type="text/css" href="{% static 'css/manage.css' %}">

{% endblock%}

{% block content %}

<div class="main">
    
    <div class="main_detail_container" id="main_detail_container" >
        <div class="search_bar">    
            <h1><p id="table_title">Stream</p></h1>
            {% if not addstream_form %}
            <a id="add_btn" href="{% url 'stream_add' %}">Add Stream</a>
            {% endif %}
            
            <!-- <div class="search_inbox_container">
                <input type="text" placeholder="search" id="search_bar">&nbsp;&nbsp;
            </div>
            
            <div class="search_button_container">
                <button id="search_btn" class="search_btn" type="submit"><img src="{% static 'media/search_logo.png' %}" id="search_logo"></button>&nbsp;&nbsp;
            </div>
            
            <div class="sortby_selection_container">
                <select id="sort_by_menu" class="sort_by_menu">
                    <option value="a-z">A-Z</option>
                    <option value="z-a">Z-A</option>
                </select>
            </div> -->
        </div>
        
        {% if addstream_form %}
        <div id="add_stream_bar" style="float: right;">
            <form method="POST" action="{% url 'stream_add' %}">
                {% csrf_token %}
                {% for field in addstream_form %}
                <div id="{{ field.label }}Wrapper">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.help_text %}
                    <p>{{ field.help_text|safe }}</p>
                    {% endif %}
                    {{ field.errors }}
                </div>
                {% endfor %}
                {{ form.non_field_errors }}
                <button type="submit">Add Stream</button>
                <a href="{% url 'stream_manager' %}">Cancal</a>
            </form>
        </div>
        {% endif %}

        <br/>
        <br/>
        <br/>
        
        <div class="manage_table_container" id="manage_table_container">
            <table id="manage_table" class="manage_table">
                
                <tr>
                    <th>Id</th>
                    <th>Stream Name</th>
                    <th></th>
                </tr>
                
                <!-- {% for stream in streams %}
                <tr>
                    {% for item in stream %}
                    <td>{{ item }}</td>
                    {% endfor %}
                    <td><button class="edit_btn">EDIT</button></td>
                </tr>    
                {% endfor %}   -->

                {% for stream in streams %}
                {% if stream.stream_id != stream_id %}
                <tr>
                    <td>{{ stream.stream_id }}</td>
                    <td>{{ stream.stream_name }}</td>
                    <td>
                        <a id="{{ stream.stream_id }}_editbtn" class="edit_btn" href="{% url 'stream_edit' stream_id=stream.stream_id %}">EDIT</a>
                        <a class="delete_btn" href="{% url 'stream_delete' stream_id=stream.stream_id %}">DELETE</a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <form method="POST">
                        {% csrf_token %}
                        <td>{{ editstream_form.stream_id }}</td>
                        <td>{{ editstream_form.stream_name }}</td>
                        <td>
                            <button type="submit" class="edit_btn">SAVE</button>
                            <a href="{% url 'stream_manager' %}" class="cancel_btn">CANCEL</a>
                        </td>
                    </form>
                </tr> 
                {% endif %}
                {% endfor %}
            </table>
        </div>        
    </div>
</div>
    
{% if deletestream_id %}
<form method="POST">
    {% csrf_token %}
    <div id="deleteConfDialogbox">
        <p id="conftext">Are you sure you want to delete stream having stream ID = {{ deletestream_id }}</p>
        <button type="submit" id="deletebtn" class="dialog_btn">Delete</button>
        <a id="cancalbtn" href="{% url 'stream_manager' %}" class="dialog_btn">Cancel</a>
    </div>
</form>
{% endif %}

{% endblock %}

{% block loadscript %}
<script src="../../mystaticFiles/script/manage.js"></script>
{% endblock %}