{% extends 'Administrator/administrator_base.html'%}

{% load static %}

{% block title %}
    
    <title>Volunteer</title>

{% endblock %}
    
{% block loadcss %}

<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard_manager.css' %}">

{% endblock%}

{% block content %}

    <div class="main">

            <div class="main_detail_container" id="main_detail_container" style="padding-left: 130px; padding-right: 160px;">
                <div class="search_bar">

                        <div class="add_inbox_container" style="margin-right: 145px;">
                                <input type="text" placeholder="Add" id="add_bar">&nbsp;&nbsp;
                            </div>
        
                            <div class="search_button_container" style="margin-left:-145px; margin-right: 144px;">
                                    <button id="search_btn" class="search_btn" type="submit"><img src="{% static 'media/add_logo.png' %}" id="search_logo"></button>&nbsp;&nbsp;
                            </div>


                    <div class="search_inbox_container">
                    <input type="text" placeholder="Search" id="search_bar">&nbsp;&nbsp;
                    </div>
    
                    <div class="search_button_container">
                        <button id="search_btn" class="search_btn" type="submit"><img src="{% static 'media/search_logo.png' %}" id="search_logo"></button>&nbsp;&nbsp;
                    </div>
    
                    <div class="sortby_selection_container">
                        <select id="sort_by_menu" class="sort_by_menu">
                            <option value="a-z">A-Z</option>
                            <option value="z-a">Z-A</option>
                        </select>
                    </div>
                </div>
    
                <br>
                <br>
                <br>
                <div class="manage_table_container" id="manage_table_container">
                    <table border="1" align="center" id="manage_table" class="manage_table">
                        <tr>
                            <th>id</th>
                            <th>Name</th>
                            <th>Mobile No.</th>
                            <th>Email ID</th>
                            <th>Payment Hold</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
    
                        <tr>
                                <td>335</td>
                                <td>Niral</td>
                                <td>7096890142</td>
                                <td>niralkpatelia@gmail.com</td>
                                <td>1500</td>
                                <td><div class="status_container"><input type="checkbox" id="status_checkbox"></div></td>
                                <td><button class="edit_btn">EDIT</button></td>
                        </tr>
    
                        
                    </table>
                </div>
    
            </div>
        </div>

{% endblock %}